* {
    font-family:  Arial, sans-serif, Arial, sans-serif;
  }
body{
  background-color:#3D9970;
}

.allimg{
  display:flex;
  height:400px;
  
}

  p{
      color:white;
  } 
   
  h1 {
    color:white;
  }   
   
  a {
    text-decoration: none;
  }